#50 MHz oscillator
NET "clk1"       LOC = "p84";

#Slide Switches
NET "a<0>" LOC = p22; #LSB
NET "a<1>" LOC = p21;
NET "a<2>" LOC = p17;
NET "a<3>" LOC = p16;

NET "b<0>" LOC = p15;
NET "b<1>" LOC = p14;
NET "b<2>" LOC = p12;
NET "b<3>" LOC = p11;


NET "c<0>" LOC = p10;
NET "c<1>" LOC = p9;
NET "c<2>" LOC = p8;
NET "c<3>" LOC = p7;

NET "d<0>" LOC = p6;
NET "d<1>" LOC = p5;
NET "d<2>" LOC = p2;
NET "d<3>" LOC = p1; #MSB


#Seven Segment Display sharing I/O with LED

NET "seg[0]" LOC = P134;

NET "seg[1]" LOC = P137;

NET "seg[2]" LOC = P138;

NET "seg[3]" LOC = P139;

NET "seg[4]" LOC = P140;

NET "seg[5]" LOC = P141;

NET "seg[6]" LOC = P142;

NET "seg[7]" LOC = P143;

NET "digit[0]" LOC = P127;

NET "digit[1]" LOC = P131;

NET "digit[2]" LOC = P132;

NET "digit[3]" LOC = P133;






